.lisp {
    list-style-type: none;
}
.noir1 {
    background-color: black;
    color: white;
}
.noir2 {
    background-color: grey;
    color: black;
}
.frosty1:hover {
    box-shadow: 20px 0px 30px 20px  midnightblue;
}
.frosty2:hover {
    box-shadow: 20px 0px 30px 20px  maroon;
}
.frosty3:hover {
    box-shadow: 20px 0px 30px 20px  goldenrod;
}
.frosty4:hover {
    box-shadow: 20px 0px 30px 20px  darkolivegreen;
}
.frosty5:hover {
    box-shadow: 20px 0px 30px 20px  plum;
}
.font1 {
    font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font2 {
    font-family: "Cardo", serif;
  font-weight: 400;
  font-style: normal;
}
.font3 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.font4 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}
.font5 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}